node_modules/
node_modules/**
**/node_modules/
**/node_modules/**
.expo/
.expo/**
.gradle/
.gradle/**
android/.gradle/
android/.gradle/**
android/.kotlin/
android/.kotlin/**
android/build/
android/build/**
android/app/build/
android/app/build/**
android/**/build/
android/**/build/**
**/.cxx/
**/.cxx/**
**/build/
**/build/**
expo-devclient.log
expo-devclient.err.log
*.log
